.chat-messages {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  word-break: break-word;
  overflow-wrap: anywhere;
  white-space: pre-wrap;
  text-align: left;
}

.chat-username {
  font-weight: 600;
  white-space: nowrap;
}

.chat-text {
  white-space: normal;
}
